.formDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 32px;

  padding: 73px 45px 32px 45px;
}

form {
  white-space: nowrap;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #c4c4cc;
}

.label input {
  color: #fff;

  background: #0d1d25;
  border-radius: 8px;
  border: none;

  padding: 12px 14px;
}

.label input::placeholder {
  color: #7c7c8a;
}

.label input:focus {
  outline: 1px #7c7c8a;
}

.error {
  margin-top: 2px;
  text-align: center;

  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  color: #c4c4cc;
}

.desktopTitle {
  display: none;
}

@media (min-width: 1024px) {
  .formDiv {
    padding: 64px;
    background: #001119;
    border-radius: 16px;

    margin-top: 20vh;
  }

  .desktopTitle {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;

    color: #ffffff;

    display: inline;
  }
}
