.homeTop {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;

  padding: 88px 100px 116px 590px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  white-space: nowrap;

  background: linear-gradient(180deg, #091e26 0%, #00131c 100%);
  border-radius: 2.91696px;
}

.image {
  position: absolute;
  right: 55%;

  width: 450px;
}

.image img {
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.text h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;

  color: #e1e1e6;
}

.text h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  color: #e1e1e6;
}

@media (max-width: 1024px) {
  .homeTop  {
      padding: 36px 8px 22px 150px;
      white-space: normal;

      text-align: left;
  }

  .text h1 {
      font-size: 18px;
  }

  .text h2 {
      font-size: 12px;
  }

  .image {
      width: 200px;
      right: 70%;
      top: 14%;
  }
}

@media (max-width: 600px) {
  .image {
      width: 150px;
      right: 70%;
      top: 22%;
  }
}
