.div {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 32px;
  flex-wrap: nowrap;

  width: 100%;
}

.searchField {
  background: #0d1d25;
  border-radius: 5px;
  height: 48px;
  padding: 12px 14px;

  display: flex;
  align-items: center;
  gap: 15px;

  flex-grow: 3;
}

.searchField button {
  background: none;
  border: none;
}

.searchLogo:hover {
  cursor: pointer;
}

.inputField {
  background: #0d1d25;
  border: none;
  color: white;

  width: 100%;
  height: 48px;
}

.inputField:focus {
  outline: none;
}

.linkText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;

  color: #e1e1e6;
  text-align: center;
}

.redButton {
  background: #750310;
  border-radius: 5px;
  border: none;

  color: white;

  padding: 12px 100px;
}

.redButton:hover,
.linkText:hover,
.outLogo:hover {
  cursor: pointer;
}

.linkText:hover {
    text-decoration: underline;
}

.redButton:hover {
    background: #b7051a;
}

.noButton {
    background: none;
    border: none;
}

.plateAcessBox {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.plateAcess h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;

  color: #e1e1e6;
}

.plateAcess h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;

  color: #e1e1e6;
}

.plateAcess h2:hover {
  cursor: pointer;
  text-decoration: underline;
}

.plateImg {
  width: 88px;
  height: 88px;
}